/**
CSS GUI version 1.0
Développé par EKLEIPSI MEDIAS - Jonathan JOLY
https://ekleipsi-medias.fr
Travaillez votre code CSS visuellement !!!
Work your CSS code visually !!!
**/

/******************* GENERAL ********************/
* {margin: 0;padding: 0;box-sizing: content-box;}
body{background-color:#EFEBCE;width: 98.5vw;height: 98vh;}
.flexrow {display: flex; flex-direction: row;}
.flexcol {display: flex; flex-direction: column;}

/******************* SIDEBAR #LEFT_PART ***********************/
#left_part {
	width:25%;
	padding: 11px;
	background-color: #19535F;
	box-shadow: 2px 0px 10px black;
	z-index: 9999;
}
h1,#slogan, .zone_texte {text-align: center;}
h1{margin-top: 1em;}
.zone_texte {
	margin: 50px 0px;
	border: 6px outset #EFEBCE;
	height: 100%;
	padding: 5px;
	box-shadow: 0px 0px 5px 2px black;
	background-color: #0B7A75;
}
#text{width: 85%;height: 60%;margin:1em auto 1em auto;border: 5px outset grey;padding: 10px;}
button{padding: 5px 11px;margin: 10px 5px;}
button:hover{border: 5px outset grey;margin: 5px 0px;}

/******************* #RIGHT_PART ***********************/
#right_part { width:85%;}

/******************* MENU ********************/
header{
	width: 100%;
	top:0;
	padding:10px;
	overflow:hidden;
	background-color: #EFEBCE;
}
header>div{
	width: 97%;
	height: 15em;
	background-color: #19535F;
	margin: 0 auto 1em auto;
	padding: 5px;
	box-shadow: 0px 0px 5px 3px black;}
h1, h2, #slogan { color:#EFEBCE;}
h2{font-size: 1rem;	text-transform: uppercase;background-color: #19535F;border: 3px solid #EFEBCE;}
h2:hover{background-color: #40B5CC;border: 3px outset #EFEBCE;transition-duration: 0.8s;}
h3 {font-size:0.9rem;background-color:#247687;border: 3px solid #EFEBCE;}
h3:hover {background-color: #40B5CC;border: 3px outset #EFEBCE;transition: 0.8s;} 
h2,h3{ color: #EFEBCE;margin: 0px 2px; padding: 5px 10px;}
#onglets_h2, #onglets_h3{cursor: pointer;}
#onglets_h3{margin: 5px 0;}
.contenu_onglets_h2, .contenu_onglets_h3{display:none;}
.contenu_onglets_h2{height: 10em;}
fieldset{
	border: 5px outset #EFEBCE!important;
	background-color: #247687;
	box-shadow: 0px 0px 10px #EFEBCE;
	padding: 0px 30px;
}
.onglets_text, .onglet_border, .onglet_box{display: none;height: 7em;}

/******************* ESPACE DE PREVISUALISATION ***********************/
#visuel{
	width: 100%;
	height:80%;
	padding: 10px;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}
#zone {
	width:60%;
	height:95%;
	background:url("images/fond.png") no-repeat;
	background-color: rgba(255, 255, 255, 0.5);
	background-size: cover;
	word-wrap:break-word;
	border: 5px outset grey;
}
#vue{position: relative;top:4em; left: 4em;}
#codeCSS{
	width:37.5%;
	height:95%;
	background-color: #0B7A75;
	border: 6px outset #EFEBCE;
	box-shadow: 0px 0px 5px 2px black;
}
#codeCSS h2{
	width: 93%;
	text-align: center;
	font-size: 1.5rem;
	margin: 0 auto;
	background-color: #19535F;
	box-shadow: 0px 3px 5px black;
}
#pureCSS{
	width: 91%;
	height: 65%;
	margin: 30px auto 15px;
	padding: 5px;
	overflow: auto;
	background-color: white;
	border: 5px outset grey;
}
#codeCSS button{
	margin: 0 33%;
}

/******************* MODIFICATION CSS DES INPUTS ***********************/
.slider {opacity: 0.5; -webkit-transition: .2s; transition: opacity .5s;}
.slider:hover {opacity: 1; cursor: pointer;}
input[type="range"] {color: aqua;}
input[type="range"]:before {margin-left: -1.5em; content: attr(min);}
input[type="range"]:after {margin-right: -2em; content: attr(max);}
input[type='text']{width:250px;padding:5px;background-color:white;margin-bottom:0.5em;}