/************************************************/
/******************* GENERAL ********************/
/************************************************/
*{
	top:0;
	left:0;
	box-sizing: border-box;
}

body{
	margin:0;
	height: 100vh;
}

/***********************************************/
/******************* HEADER ********************/
/***********************************************/
header, .zone_texte{
	display: flex;
	flex-direction: row;
}
.zone_texte button{	padding: 0.1em 0.3em;}
header, .onglets{	background-color: rgb(25,83,95);}
header{	height: 4em;}
h1{
	width: 25%;
	color: aqua;
	text-align: center;
	font-size: 2em;
}
#text{ width: 30em;}


/*************************************************/
/******************* CORPS ***********************/
/*************************************************/
#corps{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 86.7vh;
}
.onglets{ width: 25%;border: solid 1px black;height: 100%;overflow-y: scroll;}
.onglets span{ width:33%; color:white; text-align: center;}
.onglets span:hover{ cursor: pointer; color:black; background-color: aqua;}
.contenu_onglet{ display: none;}

fieldset{
	border: 6px outset aqua;
	color: lime;
}
.flex_row{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.flex_col{
	display: flex;
	flex-direction: column;
}
#zone{
	width: 75%;
	background: url("images/fond.png") no-repeat;
	background-size: cover;
	position: relative;
}
#vue{
	position: absolute;
	top: 42%;
	left: 25%;
}
input[type="range"]{
	width: 80%;
	color: aqua;
}
input[type="range"]:before{
	margin-left: -1em;
   content: attr(min);
}
input[type="range"]:after{
	margin-right: -2em;
    content: attr(max);
}